.dashboard-layout {
    display: flex;
    min-height: 100vh;
    background-color: #f5f7ff;
}
  
.dashboard-content {
    margin-left: 64px;
    flex: 1;
    padding: 1.5rem;
    overflow-y: auto;
}

.input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 8px;
}
